<ul class="circles">
    <li><i class="fas fa-barcode"></i></li>
    <li><i class="fas fa-barcode"></i></li>
    <li><i class="fas fa-barcode"></i></li>
    <li><i class="fas fa-barcode"></i></li>
    <li><i class="fas fa-barcode"></i></li>
    <li><i class="fas fa-barcode"></i></li>
    <li><i class="fas fa-barcode"></i></li>
    <li><i class="fas fa-barcode"></i></li>
    <li><i class="fas fa-barcode"></i></li>
    <li><i class="fas fa-barcode"></i></li>
</ul>