@model SignUpSubmit

<div class="account-signin-container">

    <form asp-controller="Account" asp-action="SignUp" method="post">

        <input asp-for="Redirect" type="hidden" />

        <div class="form-input-container">
            <label asp-for="Username"></label>
            <div class="input-container">
                <input asp-for="Username" />
            </div>
            <span asp-validation-for="Username"></span>
        </div>

        <div class="form-input-container">
            <label asp-for="Name"></label>
            <div class="input-container">
                <input asp-for="Name" />
            </div>
            <span asp-validation-for="Name"></span>
        </div>

        <div class="form-input-container">
            <label asp-for="EmailAddress"></label>
            <div class="input-container">
                <input asp-for="EmailAddress" />
            </div>
            <span asp-validation-for="EmailAddress"></span>
        </div>

        <div class="form-input-container">
            <label asp-for="Password"></label>
            <div class="input-container">
                <input asp-for="Password" />
            </div>
            <span asp-validation-for="Password"></span>
        </div>

        <div class="btn-tray btn-tray-center">
            <div class="btn btn-edit btn-form">
                <i class="fas fa-arrow-up"></i><div class="btn-text">Sign Up</div>
            </div>
        </div>

    </form>

</div>