@model StoreView

<div class="storage-form">

    <form asp-controller="Storage" asp-action="EditStoreName" class="load-partial" attr-partial="storageSection" method="post">

        <input asp-for="LocationID" type="hidden" />
        <input asp-for="StoreID" type="hidden" />

        <div class="form-input-container editable-container">
            <div class="input-container">
                <h2 class="input-text">@Model.StoreName</h2>
                @if (Model.UserID == ViewBag.User.UserID)
                {
                    <input class="field-h2" asp-for="StoreName" />
                    <div class="btn-tray">
                        <div class="btn btn-edit">
                            <i class="fas fa-pencil-alt"></i><div class="btn-text">Edit</div>
                        </div>
                        <div class="btn btn-save btn-form">
                            <i class="fas fa-check"></i><div class="btn-text">Save</div>
                        </div>
                        <div class="btn btn-cancel">
                            <i class="fas fa-times"></i><div class="btn-text">Cancel</div>
                        </div>
                        <div class="loading-icon">
                            <i class="fas fa-spinner fa-2x fa-spin"></i>
                        </div>
                    </div>
                }
            </div>
            <span asp-validation-for="StoreName"></span>
        </div>

    </form>

    <form asp-controller="Storage" asp-action="EditStoreDescription" class="load-partial" attr-partial="storageContainer" method="post">

        <input asp-for="LocationID" type="hidden" />
        <input asp-for="StoreID" type="hidden" />

        <div class="form-input-container editable-container">
            <div class="input-container">
                <div class="input-text">@(Model.Description ?? "No description")</div>
                @if (Model.UserID == ViewBag.User.UserID)
                {
                    <input asp-for="Description" />
                    <div class="btn-tray">
                        <div class="btn btn-edit">
                            <i class="fas fa-pencil-alt"></i><div class="btn-text">Edit</div>
                        </div>
                        <div class="btn btn-save btn-form">
                            <i class="fas fa-check"></i><div class="btn-text">Save</div>
                        </div>
                        <div class="btn btn-cancel">
                            <i class="fas fa-times"></i><div class="btn-text">Cancel</div>
                        </div>
                        <div class="loading-icon">
                            <i class="fas fa-spinner fa-2x fa-spin"></i>
                        </div>
                    </div>
                }
            </div>
            <span asp-validation-for="Description"></span>
        </div>

    </form>

    @if (Model.UserID == ViewBag.User.UserID)
    {
        <form asp-controller="Storage" asp-action="DeleteStore" class="load-partial" attr-partial="storageSection" method="post">

            <input asp-for="LocationID" type="hidden" />
            <input asp-for="StoreID" type="hidden" />

            <div class="form-input-container">
                <div class="input-container input-right">
                    <div class="btn-tray">
                        <div class="btn btn-cancel btn-form">
                            <i class="far fa-trash-alt"></i><div class="btn-text">Delete Store</div>
                        </div>
                        <div class="loading-icon">
                            <i class="fas fa-spinner fa-2x fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
    <hr class="heading-line" />

    @if (Model.Items.Count == 0)
    {
        <div>There are currently no items in this store...</div>
    }

    @foreach (var item in Model.Items)
    {
        <partial name="_ViewItem" model="@item" />
    }

</div>