@model StoredItemAdd

<div class="index-container index-form">

    <form asp-controller="Scan" asp-action="SaveItem" method="post">

        <input asp-for="ItemID" type="hidden" />

        <img src="@Model.ImageUrl" />

        <div class="form-input-container">
            <label asp-for="ProductCode"></label>
            <div class="input-container">
                <input asp-for="ProductCode" disabled="disabled" />
            </div>
        </div>

        <div class="form-input-container">
            <label asp-for="ProductName"></label>
            <div class="input-container">
                <input asp-for="ProductName" />
            </div>
            <span asp-validation-for="ProductName"></span>
        </div>

        <div class="form-input-container">
            <label asp-for="IngredientList"></label>
            <div class="input-container">
                <textarea asp-for="IngredientList"></textarea>
            </div>
            <span asp-validation-for="IngredientList"></span>
        </div>

        <div class="form-input-container">
            <label asp-for="Notes"></label>
            <div class="input-container">
                <textarea asp-for="Notes"></textarea>
            </div>
            <span asp-validation-for="Notes"></span>
        </div>

        <hr />

        <div>You currently have @Model.StoredQuantity of this item stored</div>

        <div class="form-input-container">
            <label asp-for="LocationID"></label>
            <div class="input-container">
                <select dynamic-select-url="@Url.Action("StoreSelect", "Scan", new { locationID = 0 })" dynamic-select-load="DynamicStoreID" asp-for="LocationID" asp-items="Model.Locations"></select>
            </div>
            <span asp-validation-for="LocationID"></span>
        </div>

        <div id="DynamicStoreID" class="form-input-container">
            <label asp-for="StoreID"></label>
            <div class="input-container">
                <select asp-for="StoreID" asp-items="Model.Stores"></select>
            </div>
            <span asp-validation-for="StoreID"></span>
        </div>

        <div class="form-input-container">
            <label asp-for="Quantity"></label>
            <div class="input-container">
                <input asp-for="Quantity" />
            </div>
            <span asp-validation-for="Quantity"></span>
        </div>

        <div class="btn-tray btn-tray-center">
            <div class="btn btn-save btn-form">
                <i class="fas fa-check"></i><div class="btn-text">Save</div>
            </div>
            <div class="btn btn-cancel" reveal="LoadScanCode" conceal="ScanCodeForm" callback="StopScanner">
                <div class="btn-text">Cancel</div><i class="fas fa-times"></i>
            </div>
            <div class="loading-icon">
                <i class="fas fa-spinner fa-2x fa-spin"></i>
            </div>
        </div>

    </form>

</div>